@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
.btoken-container{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.ip-padding{
  padding: 7px 20px;
  border-radius: 2%;
}

.center-item{
    align-items: center;
  display: flex;
  justify-content: center;
}
.drop-item{
    margin-bottom: 15px;
  }